* {
  box-sizing: border-box;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  width: 150px;
  height: 59px;
  & > img {
    width: inherit;
    height: inherit;
  }
}

.links {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  padding: 0 8px;
  color: #77838f;
  font-weight: bold;
}